@import "./variables"
@import "./mixins"

// .picture-container
//   width: 25rem

//   img
//     object-fit: contain
//     width: 25rem

.text
  @include text
  font-size: 1.5rem

  @include responsive(tablet)
    font-size: 2rem

  @include responsive(desktop)
    font-size: 2.2rem
  
.subtitle
  font-family: $title-font
  color: $deep-blue
  font-weight: 300
  font-size: 3rem
  
.btn 
  @include btns

.input-detail
  @include forms