@import "../_variables"
@import "../_mixins"


.userPanel__profile
  box-shadow: $shadow
  border-radius: 0.5rem
  
.table-mod
  height: 20rem
  overflow-y: scroll

::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-thumb
  background: #ffc107a1
  border-radius: 14px

::-webkit-scrollbar-thumb:hover
  background: #ffc107a1

.main__balance

  .balance__cardContainer
    position: relative
    text-align: center
    color: white

    .centered
      position: absolute
      top: 86%
      left: 50%
      transform: translate(-50%, -50%)

    .centered-two
      position: absolute
      top: 87%
      left: 50%
      transform: translate(-50%, -50%)

      
.userAvatar
  width: 8rem

.debit-card
  box-shadow: $shadow
  border-radius: 1rem

  @include responsive(tablet)
    width: 45rem  

  @include responsive(largeTablet)
    width: 45rem

  @include responsive(desktop)
    width: 45rem

.user-image

  @include responsive(largeTablet)
    opacity: 0.2
    
  @include responsive(desktop)
    opacity: 0.2
    width: 50rem