:root {
    margin: 1% 10%;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Excerise boxes*/

.excerise-container{
    padding: 10px 30px;
}

section {
    box-shadow: 5px 5px 15px 5px rgba(4,129,189,0.24);
    border: none;
    padding: 20px;
    margin: 20px 0;
}

button {
    background-color: rgba(202, 202, 235, 0.582);
    padding: 10px;
    border-radius: 5px;
    border: none;

}