/*  Mixin for Media Queries */
.text {
  font-family: "Roboto Condensed", sans-serif;
  color: #18188F;
  font-size: 1.5rem; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .text {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 1200px) {
    .text {
      font-size: 2.2rem; } }

.text--mod {
  font-size: 1rem; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .text--mod {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .text--mod {
      font-size: 1.7rem; } }
  @media only screen and (min-width: 1200px) {
    .text--mod {
      font-size: 1.7rem; } }

.subtitle {
  font-family: "Karla", sans-serif;
  color: #18188F;
  font-weight: 600;
  font-size: 2.2rem; }

.btn {
  width: 12rem;
  box-shadow: 2px 2px 15px 3px #18188f10;
  color: #18188F; }
  .btn:hover {
    box-shadow: 2px 2px 15px 3px #18188f10; }
  .btn:active {
    box-shadow: 2px 2px 15px 3px #18188f10; }
  .btn:focus {
    box-shadow: 2px 2px 15px 3px #18188f10; }

.input-detail {
  box-shadow: 2px 2px 15px 3px #18188f10; }

.animate {
  animation: fadeIn 2s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*  Mixin for Media Queries */
.input {
  width: 20rem; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .input {
      width: 40rem; } }
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .input {
      width: 50rem; } }
  @media only screen and (min-width: 1200px) {
    .input {
      width: 50rem; } }

.input--mod {
  margin-left: -2rem; }

.input__reception {
  width: 30rem; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .input__reception {
      width: 40rem; } }
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .input__reception {
      width: 45rem; } }
  @media only screen and (min-width: 1200px) {
    .input__reception {
      width: 50rem; } }

.header {
  border-top: 0.5rem solid #18188F;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 2px 2px 15px 3px #18188f10; }
  .header .header__logo {
    height: 3rem; }

.footer {
  border-bottom: 0.5rem solid #18188F;
  box-shadow: 2px 2px 15px 3px #18188f10; }

/*  Mixin for Media Queries */
@media only screen and (min-width: 1200px) {
  .main {
    margin-top: 10rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__loginPicture {
    width: 40rem; } }

@media only screen and (min-width: 1200px) {
  .main__loginPicture {
    width: 40rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__loginForm {
    width: 50rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .main__loginForm {
    width: 55rem; } }

@media only screen and (min-width: 1200px) {
  .information__pictureBox {
    width: 60rem; } }

/*  Mixin for Media Queries */
@media only screen and (min-width: 1200px) {
  .main {
    margin-top: 10rem; } }

.main__signinPicture {
  width: 30rem;
  margin-top: 3rem; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main__signinPicture {
      width: 40rem; } }
  @media only screen and (min-width: 1200px) {
    .main__signinPicture {
      width: 40rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__signinForm {
    width: 40rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .main__signinForm {
    width: 50rem; } }

/*  Mixin for Media Queries */
.userPanel__profile {
  box-shadow: 2px 2px 15px 3px #18188f10;
  border-radius: 0.5rem; }

.table-mod {
  height: 20rem;
  overflow-y: scroll; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #ffc107a1;
  border-radius: 14px; }

::-webkit-scrollbar-thumb:hover {
  background: #ffc107a1; }

.main__balance .balance__cardContainer {
  position: relative;
  text-align: center;
  color: white; }
  .main__balance .balance__cardContainer .centered {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .main__balance .balance__cardContainer .centered-two {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%); }

.userAvatar {
  width: 8rem; }

.debit-card {
  box-shadow: 2px 2px 15px 3px #18188f10;
  border-radius: 1rem; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .debit-card {
      width: 45rem; } }
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .debit-card {
      width: 45rem; } }
  @media only screen and (min-width: 1200px) {
    .debit-card {
      width: 45rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .user-image {
    opacity: 0.2; } }

@media only screen and (min-width: 1200px) {
  .user-image {
    opacity: 0.2;
    width: 50rem; } }

/*  Mixin for Media Queries */
.balance__cardContainer {
  position: relative;
  text-align: center;
  color: white; }
  .balance__cardContainer .centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .balance__cardContainer .centered-two {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); }

.selector input {
  margin: 0;
  padding: 0;
  appearance: none; }

/*  Mixin for Media Queries */
.qr-picture {
  height: 20rem; }
  .qr-picture:hover {
    box-shadow: 2px 2px 15px 3px #18188f10; }

/*  Mixin for Media Queries */
.not-found-picture {
  height: 30rem;
  width: 30rem;
  border-bottom: 5px solid #EEBA2B; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .not-found-picture {
      height: 60rem;
      width: 60rem; } }
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .not-found-picture {
      height: 80rem;
      width: 80rem; } }
  @media only screen and (min-width: 1200px) {
    .not-found-picture {
      height: 80rem;
      width: 80rem; } }

html {
  font-size: 62.5%; }
  html body {
    overflow-x: hidden;
    background: var(--bs-gradient);
    height: 100vh; }

root {
  margin: 0;
  padding: 0;
  margin: 1% 10%; }

.hide {
  display: none; }
