/*  Mixin for Media Queries */
.text {
  font-family: "Roboto Condensed", sans-serif;
  color: #18188F;
  font-size: 1.5rem; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .text {
      font-size: 2rem; } }
  @media only screen and (min-width: 1200px) {
    .text {
      font-size: 2.2rem; } }

.btn {
  width: 10rem;
  box-shadow: 2px 2px 15px 3px #18188f10;
  color: #18188F; }

.input-detail {
  box-shadow: 2px 2px 15px 3px #18188f10; }

/*  Mixin for Media Queries */
.header {
  border-top: 0.5rem solid #18188F;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 2px 2px 15px 3px #18188f10; }
  .header .header__logo {
    height: 2rem; }

.footer {
  border-bottom: 0.5rem solid #18188F;
  box-shadow: 2px 2px 15px 3px #18188f10; }

/*  Mixin for Media Queries */
@media only screen and (min-width: 1200px) {
  .main {
    margin-top: 10rem; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main__loginPicture {
    width: 40rem; } }

@media only screen and (min-width: 1200px) {
  .main__loginPicture {
    width: 40rem; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main__loginForm {
    width: 50rem; } }

@media only screen and (min-width: 1200px) {
  .information__pictureBox {
    width: 60rem; } }

html {
  font-size: 62.5%; }
  html body {
    overflow-x: hidden;
    background: var(--bs-gradient);
    height: 100vh; }

root {
  margin: 0;
  padding: 0;
  margin: 1% 10%; }
